html { font-size: 18px; }  

.appbox {
    display: grid;
    grid-template-columns: 22vw 22vw 22vw; /* 三欄 */
    grid-template-rows: 15rem 15rem;       /* 兩列 */
    grid-column-gap: 2vw;
    grid-row-gap: 3rem;
    width: 70vw;
    height: 36rem;
}

/* 通用圖設定 */
.appbox .pic {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
}

/* 每個圖格的位置與大小設定 */
.pic1 {
    background-image: url(/applications/images/app-01.png);
    grid-column: 1;
    grid-row: 1;
    height: 15rem;
    width: 22vw;
}

.pic2 {
    background-image: url(/applications/images/app-02.png);
    grid-column: 2;
    grid-row: 1;
    height: 15rem;
    width: 22vw;
}

.pic3 {
    background-image: url(/applications/images/app-03.png);
    grid-column: 3;
    grid-row: 1 / span 2;  /* 占兩列 */
    height: 33rem;
    width: 22vw;
}

.pic4 {
    background-image: url(/applications/images/app-04.png);
    grid-column: 1 / span 2; /* 占兩欄 */
    grid-row: 2;
    height: 15rem;
    width: 46vw;
}