#newspage {
    padding: 11rem 0 0;
    position: relative;
}

#newspage .box {
    margin-left:  15%;
    margin-right: 15%;
    width: 70%;
    margin-top: calc(10rem / 3);
    /*height: calc(115rem / 3);*/
}

#newspage .box header {
    all: unset;
}

#newspage .box * {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 2px;
}

#newspage .box ul {
    padding-left: 2.2rem;
}

#newspage .box li::before {
    content: "✓";
    /* Insert content that looks like bullets */
    position: absolute;
    left: 1rem;
    /*    color: blue; /* Or a color you prefer */
}

#newspage .box .news_1 {
    width: 25%;
}

